
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.h5
*.keras
venv/
.wav
.mp3
.mp4
.wav.gz
.mp3.gz
.mp4.gz


# Node
node_modules/

# Data and outputs
data/

# Environment and config
.env

# macOS
.DS_Store

# Logs
*.log

# VSCode
.vscode/
