 # Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.h5
*.keras
venv/

# Node
node_modules/

# Data and outputs
# data/

# Environment and config
.env

# macOS
.DS_Store

# Logs
*.log

# VSCode
.vscode/
