fastapi
uvicorn
google-api-python-client
python-multipart
tensorflow
tensorflow-hub
librosa
numpy
pytube
flask
flask_cors
pandas
moviepy
torch
torchvision
yt-dlp
librosa
soundfile
transformers
opencv-python
webrtcvad
tensorflow==2.15.0